
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Session files
user-session.json

# Allure results
allure-results/
allure-report/

# Custom reports
tta-report/
